
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%; }

body {
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}
#svg
{
    background-color: #EEEEEE;
}


#digital_clock{
    fill:#FFF;

    font-weight:bold;
    text-align: center;

    font-size:18px;
    stroke: #333;
    stroke-width: 0.5px;
    text-shadow: 0 1px 1px #666;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-anchor :middle;
}

.analog_dial
{
    fill:#FFF;
    font-weight:bold;
    text-align: center;
    font-size:24px;
    stroke: #333;
    stroke-width: 0.5px;
    text-shadow: 0 1px 1px #666;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-anchor :middle;
}